// Fontes
$fontPrincipal: Roboto, sans-serif;

// Esquema de cores 
$corDeFundoBody: #f5f6fa;
$corDeFundoHeader: #182c61;
$corDeFundoButton: #44bd32;
$corDoTexto: #fff;

// Breakpoints 
$mobile: 767px;
$tablet: 1023px;