@use 'source/config/reset';
@use 'source/config/variaveis';
@use 'source/secoes/products.scss';

body {
    background-color: variaveis.$corDeFundoBody;
    li {
        list-style: none;
    }
    .container {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
    }
}

header {
    background-color: variaveis.$corDeFundoHeader;
    position: sticky;
    top: 0;
    left: 0;
        h1 {
            display: inline;
            text-align: center;
            color: variaveis.$corDoTexto;
        }
        .branding img {
            width: 50px;
        }
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
    }
}


.menu {
    display: flex;

    li {
        font-weight: bold;
        margin-left: 24px;
    }

    a{
        color: variaveis.$corDoTexto;
        text-decoration: none;
    }
}

section {
    padding: 55px 0;

    img {
        padding-bottom: 5px;
        max-height: 180px;
    }

    .text-colored {
        color:variaveis.$corDeFundoHeader;
    }
}

#fale-conosco button{
    background-color: variaveis.$corDeFundoHeader;
    color: variaveis.$corDoTexto;
    font-size: 20px;
}

@media screen and (max-width: variaveis.$mobile) {
    .products {
        display: block;
    }
    .products-item {
        margin-bottom: 32px;
        }
        img {
            margin-top: 10px;
        }
    }

@media screen and (max-width: variaveis.$tablet) {
    .container {
        max-width: 80%;
    }
    .products {
        grid-template-columns: repeat(2,48.5%);
        column-gap: 3%;
    }
}